
i:before{
  position:absolute;
  content:'';
  background-color:red;
  width:70px;
  height:100px;
  border-radius:200px 0 200px  0;
  border:1px black solid;
  border-right:0;
}
i:after{
  position:absolute;
  
  content:'';
  background-color:red;
  width:70px;
  height:100px;
  border-radius:200px 0 200px  0;
  border:1px black solid;
  border-left:0;
}
.i1:before{
  top:8px;
  left:118px;
  transform:rotate(-30deg) translateZ(0);
}
.i1:after{
  left:101px;
  transform:rotate(-45deg) translateZ(0);
}
.i2:before{
  top:19px;
  left:76px;
  transform:rotate(-70deg) translateZ(0);
}
.i2:after{
  top:18px;
  left:147px;
  transform:rotate(0deg) translateZ(0);
}
/* **************************** */
.b1:before{
  position:absolute;
  left:152px;
  top:190px;
  content:'';
  background-color:#00DD00;
  width:70px;
  height:100px;
  border-radius:200px 0 200px  0;
  border:1px black solid;
  border-left:0;
  border-right:0;
}
.b1:after{
  position:absolute;
  left:90px;
  top:125px;
  content:'';
  background-color:#00DD00;
  width:70px;
  height:100px;
  border-radius:200px 0 200px  0;
  border:1px black solid;
  border-left:0;
  transform:rotate(-59deg) translateZ(0);
}
/* ********************* */
.div1{
  position:absolute;
  top:119px;
  left:144px;
  height:200px;
  border:6px green solid;
}
.i21:before {
  top: 8px;
  left: 203px;
  transform: rotate(3deg) translateZ(0);
}
.i21:after{
  left: 174px;
  transform: rotate(-45deg) translateZ(0);
}
.i22:before{
  top: 28px;
  left: 139px;
  z-index: 1;
  transform: rotate(-62deg) translateZ(0);
}
.i22:after{
  top: 40px;
  left: 213px;
  z-index: 1;
  transform: rotate(13deg) translateZ(0);
}
.div2 {
  position: absolute;
  top: 119px;
  left: 171px;
  height: 200px;
  border: 6px green solid;
  transform: rotate(15deg) translateZ(0);
}
.b2:before{
  position:absolute;
  left: 176px;
  top: 141px;
  content:'';
  background-color:#00DD00;
  width:70px;
  height:100px;
  border-radius:200px 0 200px  0;
  border:1px black solid;
  border-left:0;
  border-right:0;
}
.b2:after{
  position:absolute;
  left: 126px;
  top: 80px;
  z-index: 1;
  content:'';
  background-color:#00DD00;
  width:70px;
  height:100px;
  border-radius:200px 0 200px  0;
  border:1px black solid;
  border-left:0;
  transform:rotate(-59deg) translateZ(0);
}